body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-color: white;
  color: #222222; }

iframe {
  display: block;
  margin-right: auto;
  margin-left: auto; }

iframe[src*="soundcloud.com"] {
  margin: 32px auto;
  display: block;
  width: 100%;
  height: 128px; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@keyframes clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes counter-clockwise {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

header#primary {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto; }
  header#primary nav {
    min-height: 32px;
    margin: 0;
    border-bottom: 2px solid #d9d9d9;
    text-align: right; }
    header#primary nav h1 {
      height: 32px;
      margin: 0;
      float: left;
      line-height: 32px;
      font-size: 1.5rem;
      font-family: "Questrial", "Futura", sans-serif; }
      header#primary nav h1 a:link,
      header#primary nav h1 a:visited {
        color: black;
        text-decoration: none; }
    header#primary nav ul#menu,
    header#primary nav div#menu ul {
      height: 32px;
      margin: 0;
      padding: 0;
      display: inline-block;
      list-style: none; }
      header#primary nav ul#menu li,
      header#primary nav div#menu ul li {
        margin-left: 32px;
        display: inline-block;
        line-height: 32px;
        font-size: 1rem; }
        header#primary nav ul#menu li.current-menu-item a:link,
        header#primary nav ul#menu li.current-menu-item a:visited,
        header#primary nav div#menu ul li.current-menu-item a:link,
        header#primary nav div#menu ul li.current-menu-item a:visited {
          color: black; }
        header#primary nav ul#menu li a:link,
        header#primary nav ul#menu li a:visited,
        header#primary nav div#menu ul li a:link,
        header#primary nav div#menu ul li a:visited {
          color: #bfbfbf;
          text-decoration: none; }
        header#primary nav ul#menu li a:hover,
        header#primary nav div#menu ul li a:hover {
          color: black; }

@media screen and (min-width: 300px) {
  body.is-front-page header#primary {
    width: 100%;
    max-width: 100%;
    color: white;
    background: black; }
    body.is-front-page header#primary nav {
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      border-bottom-color: white; }
      body.is-front-page header#primary nav h1 a:link,
      body.is-front-page header#primary nav h1 a:visited {
        color: white; }
      body.is-front-page header#primary nav ul#menu li.current-menu-item a:link,
      body.is-front-page header#primary nav ul#menu li.current-menu-item a:visited,
      body.is-front-page header#primary nav div#menu ul li.current-menu-item a:link,
      body.is-front-page header#primary nav div#menu ul li.current-menu-item a:visited {
        color: white; }
      body.is-front-page header#primary nav ul#menu li a:hover,
      body.is-front-page header#primary nav div#menu ul li a:hover {
        color: white; }
    body.is-front-page header#primary label[for="show-mobile-menu"]:hover:after {
      color: white; }
    body.is-front-page header#primary .solar-system {
      margin: 32px auto; } }
  @media screen and (min-width: 300px) and (max-width: 600px) {
    body.is-front-page header#primary .solar-system {
      width: 200px;
      height: 200px;
      position: relative;
      display: none; }
      body.is-front-page header#primary .solar-system#local {
        display: block; }
      body.is-front-page header#primary .solar-system .orbit {
        float: left;
        position: absolute;
        border-radius: 50%;
        box-shadow: inset 0 0 8px #666666; }
        body.is-front-page header#primary .solar-system .orbit#earth {
          width: 0;
          height: 0;
          top: 100px;
          left: 100px; }
        body.is-front-page header#primary .solar-system .orbit#moon {
          width: 200px;
          height: 200px;
          top: -100px;
          left: -100px; }
        body.is-front-page header#primary .solar-system .orbit .body {
          width: 100%;
          height: 0;
          position: absolute;
          background-color: rgba(0, 255, 0, 0.2);
          animation-timing-function: linear;
          animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%; }
          body.is-front-page header#primary .solar-system .orbit .body#earth {
            top: 0;
            animation: none; }
            body.is-front-page header#primary .solar-system .orbit .body#earth:after {
              background: url("../../assets/earth.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 64px;
              height: 64px;
              top: -32px;
              left: -32px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body#moon {
            top: 100px;
            animation-duration: 15s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#moon:after {
              background: url("../../assets/moon.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 24px;
              height: 24px;
              top: -12px;
              left: -12px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; } }
  @media screen and (min-width: 300px) and (min-width: 601px) {
    body.is-front-page header#primary .solar-system {
      width: 540px;
      height: 540px;
      position: relative;
      display: none; }
      body.is-front-page header#primary .solar-system#whole {
        display: block; }
      body.is-front-page header#primary .solar-system .orbit {
        float: left;
        position: absolute;
        border-radius: 50%;
        box-shadow: inset 0 0 8px #666666; }
        body.is-front-page header#primary .solar-system .orbit#sun {
          width: 0;
          height: 0;
          top: 270px;
          left: 270px; }
        body.is-front-page header#primary .solar-system .orbit#mercury {
          width: 160px;
          height: 160px;
          top: -80px;
          left: -80px; }
        body.is-front-page header#primary .solar-system .orbit#earth {
          width: 400px;
          height: 400px;
          top: -200px;
          left: -200px; }
        body.is-front-page header#primary .solar-system .orbit#venus {
          width: 280px;
          height: 280px;
          top: -140px;
          left: -140px; }
        body.is-front-page header#primary .solar-system .orbit#moon {
          width: 40px;
          height: 40px;
          top: -20px;
          left: -20px; }
        body.is-front-page header#primary .solar-system .orbit#mars {
          width: 520px;
          height: 520px;
          top: -260px;
          left: -260px; }
        body.is-front-page header#primary .solar-system .orbit .body {
          width: 100%;
          height: 0;
          position: absolute;
          background-color: rgba(0, 255, 0, 0.2);
          animation-timing-function: linear;
          animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%; }
          body.is-front-page header#primary .solar-system .orbit .body#sun {
            top: 0;
            animation: none; }
            body.is-front-page header#primary .solar-system .orbit .body#sun:after {
              background: linear-gradient(135deg, #FEC163 0%, #DE4313 100%);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 64px;
              height: 64px;
              top: -32px;
              left: -32px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body#mercury {
            top: 80px;
            animation-duration: 10s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#mercury:after {
              background: url("../../assets/small-mercury.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              top: -5px;
              left: -5px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body#earth {
            top: 200px;
            animation-duration: 50s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#earth:after {
              background: url("../../assets/small-earth.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 16px;
              height: 16px;
              top: -8px;
              left: -8px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body#venus {
            top: 140px;
            animation-duration: 30s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#venus:after {
              background: url("../../assets/small-venus.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 14px;
              height: 14px;
              top: -7px;
              left: -7px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body#moon {
            top: 20px;
            animation-duration: 5s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#moon:after {
              background: url("../../assets/small-moon.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 6px;
              height: 6px;
              top: -3px;
              left: -3px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body#mars {
            top: 260px;
            animation-duration: 100s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#mars:after {
              background: url("../../assets/small-mars.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 50%;
              width: 13px;
              height: 13px;
              top: -6.5px;
              left: -6.5px;
              animation-name: counter-clockwise;
              animation-timing-function: linear;
              animation-iteration-count: infinite; } }

main {
  width: 100%;
  flex: 1;
  max-width: 1080px;
  margin: 0 auto; }
  main > article > p:first-child {
    margin-top: 0; }
  main > article p {
    line-height: 30px; }

div.copy,
article.copy {
  font-size: 18px;
  line-height: 30px;
  font-family: georgia, serif; }
  div.copy h1,
  article.copy h1 {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    margin: 0 0 16px; }
  div.copy h2,
  article.copy h2 {
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    margin: 0 0 16px; }
  div.copy h1 a:link,
  div.copy h1 a:visited,
  div.copy h1 a:active,
  div.copy h1 a:hover, div.copy h2 a:link,
  div.copy h2 a:visited,
  div.copy h2 a:active,
  div.copy h2 a:hover,
  article.copy h1 a:link,
  article.copy h1 a:visited,
  article.copy h1 a:active,
  article.copy h1 a:hover,
  article.copy h2 a:link,
  article.copy h2 a:visited,
  article.copy h2 a:active,
  article.copy h2 a:hover {
    color: #222222; }
  div.copy p,
  article.copy p {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 30px;
    font-family: georgia, serif; }
    div.copy p:last-child,
    article.copy p:last-child {
      margin-bottom: 0; }
  div.copy a:link,
  div.copy a:visited,
  div.copy a:active,
  article.copy a:link,
  article.copy a:visited,
  article.copy a:active {
    color: #2455c3;
    text-decoration: none; }
  div.copy a:hover,
  article.copy a:hover {
    color: #2455c3;
    text-decoration: underline; }
  div.copy img,
  div.copy > img,
  div.copy p img,
  article.copy img,
  article.copy > img,
  article.copy p img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 32px auto; }
    div.copy img.aligncenter,
    div.copy > img.aligncenter,
    div.copy p img.aligncenter,
    article.copy img.aligncenter,
    article.copy > img.aligncenter,
    article.copy p img.aligncenter {
      margin-left: auto;
      margin-right: auto; }
    div.copy img.alignright,
    div.copy > img.alignright,
    div.copy p img.alignright,
    article.copy img.alignright,
    article.copy > img.alignright,
    article.copy p img.alignright {
      margin-right: 0;
      margin-left: auto; }
    div.copy img, div.copy img.alignleft,
    div.copy > img,
    div.copy > img.alignleft,
    div.copy p img,
    div.copy p img.alignleft,
    article.copy img,
    article.copy img.alignleft,
    article.copy > img,
    article.copy > img.alignleft,
    article.copy p img,
    article.copy p img.alignleft {
      margin-right: auto;
      margin-left: 0; }
  div.copy blockquote,
  article.copy blockquote {
    margin: 32px 0;
    padding: 0 40px; }
    div.copy blockquote p,
    article.copy blockquote p {
      margin: 0;
      font-size: 1.2rem;
      line-height: 1.8rem; }
  div.copy div.wp-caption,
  article.copy div.wp-caption {
    max-width: 100%;
    margin: 32px 0; }
    div.copy div.wp-caption img,
    article.copy div.wp-caption img {
      width: 100%;
      height: auto;
      display: block; }
    div.copy div.wp-caption .wp-caption-text,
    article.copy div.wp-caption .wp-caption-text {
      margin-top: 8px;
      font-style: italic;
      text-align: center; }
    div.copy div.wp-caption.aligncenter,
    article.copy div.wp-caption.aligncenter {
      margin-left: auto;
      margin-right: auto; }
    div.copy div.wp-caption.alignright,
    article.copy div.wp-caption.alignright {
      margin-right: 0;
      margin-left: auto; }
    div.copy div.wp-caption, div.copy div.wp-caption.alignleft,
    article.copy div.wp-caption,
    article.copy div.wp-caption.alignleft {
      margin-right: auto;
      margin-left: 0; }

footer#primary {
  background-color: #f2f2f2; }
  footer#primary nav {
    max-width: 1080px;
    margin: 32px auto 0;
    display: flex;
    flex-flow: row; }
    footer#primary nav div.panel {
      min-width: 200px;
      padding: 16px;
      border-top: 2px solid #bfbfbf;
      flex-grow: 1;
      flex-basis: 100%;
      color: gray; }
      footer#primary nav div.panel h2 {
        margin: 0;
        padding: 0;
        font-family: "Questrial", "Futura", sans-serif;
        font-size: 1.5rem; }
    footer#primary nav a:link,
    footer#primary nav a:visited {
      color: gray;
      text-decoration: none; }
    footer#primary nav a:focus,
    footer#primary nav a:hover,
    footer#primary nav a:active {
      color: black; }
    footer#primary nav p#copyright {
      margin: 16px 0; }
    footer#primary nav img#crest {
      width: 100%;
      max-width: 64px;
      display: block; }
    footer#primary nav ul {
      margin: 16px 0;
      padding: 0;
      list-style: none; }
      footer#primary nav ul li {
        min-height: 32px;
        margin: 0;
        padding: 0;
        line-height: 32px; }
        footer#primary nav ul li a {
          height: 32px;
          display: block; }
    footer#primary nav ul#menu li.current-menu-item a:link,
    footer#primary nav ul#menu li.current-menu-item a:visited {
      color: black; }
    footer#primary nav ul#menu li a:link,
    footer#primary nav ul#menu li a:visited {
      height: 32px;
      display: block; }
    footer#primary nav ul#social li:hover div.social-link.site-facebook {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="black" d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z"/></svg>'); }
    footer#primary nav ul#social li:hover div.social-link.site-twitter {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="black" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg>'); }
    footer#primary nav ul#social li:hover div.social-link.site-linkedin {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="black" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>'); }
    footer#primary nav ul#social li:hover div.social-link.site-instagram {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="black" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>'); }
    footer#primary nav ul#social li:hover div.social-link.site-youtube {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="black" d="M503 131.2c-6.1-28.7-29.1-48.8-55.3-52.1C405.4 74.4 341.4 72 256 72c-85.5 0-149.3 2.4-191.4 7.1-27.7 3.4-49.2 24.4-55.6 52.1-6 27.6-9 69.2-9 124.8 0 56.6 3 98.2 9 124.8 6.2 28.8 29.1 48.9 55.3 51.7 42.4 5 106.3 7.5 191.8 7.5 85.4 0 149.4-2.5 191.7-7.5 27.5-2.9 49-24.3 55.3-51.7 6-27.6 9-69.2 9-124.8-.1-56.6-3.1-98.2-9.1-124.8zM208 328V184l144 72-144 72z"/></svg>'); }
    footer#primary nav ul#social li div.social-link {
      width: 24px;
      height: 32px;
      float: left;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center; }
      footer#primary nav ul#social li div.social-link.site-facebook {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="gray" d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z"/></svg>'); }
      footer#primary nav ul#social li div.social-link.site-twitter {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="gray" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg>'); }
      footer#primary nav ul#social li div.social-link.site-linkedin {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="gray" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>'); }
      footer#primary nav ul#social li div.social-link.site-instagram {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="gray" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>'); }
      footer#primary nav ul#social li div.social-link.site-youtube {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="gray" d="M503 131.2c-6.1-28.7-29.1-48.8-55.3-52.1C405.4 74.4 341.4 72 256 72c-85.5 0-149.3 2.4-191.4 7.1-27.7 3.4-49.2 24.4-55.6 52.1-6 27.6-9 69.2-9 124.8 0 56.6 3 98.2 9 124.8 6.2 28.8 29.1 48.9 55.3 51.7 42.4 5 106.3 7.5 191.8 7.5 85.4 0 149.4-2.5 191.7-7.5 27.5-2.9 49-24.3 55.3-51.7 6-27.6 9-69.2 9-124.8-.1-56.6-3.1-98.2-9.1-124.8zM208 328V184l144 72-144 72z"/></svg>'); }
    footer#primary nav ul#social li span {
      line-height: 32px;
      margin-left: 8px; }

article.post {
  display: flex; }
  article.post article {
    margin-left: 32px;
    padding: 0;
    flex-grow: 1; }
  article.post aside img {
    width: 48px;
    height: 48px;
    border-radius: 2px; }
  article.post aside p {
    margin: 8px 0 0 0; }
  article.post aside p.author {
    font-weight: bold; }

section.author {
  margin: 0;
  padding: 32px;
  border-top: 2px solid #f2f2f2; }
  section.author h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem; }
    section.author h1 span.all-posts-by {
      font-size: 16px;
      color: gray;
      display: block; }
    section.author h1 a:link,
    section.author h1 a:visited {
      float: right;
      text-decoration: none; }
    section.author h1 a:hover {
      text-decoration: underline; }

#banner {
  margin: 32px 32px 0; }
  #banner #banner-image {
    width: 100%;
    display: block; }

aside#sidebar div#links {
  padding: 16px;
  background-color: #f2f2f2; }

@media screen and (min-width: 1080px) {
  #banner-image {
    background-size: cover; }
  section#posts {
    width: 760px;
    display: inline-block; }
    section#posts > article:first-child {
      padding-top: 0; }
    section#posts article.featured-post {
      padding-bottom: 0; }
      section#posts article.featured-post > article {
        padding-bottom: 32px;
        border-bottom: 1px solid #d9d9d9; }
  aside#sidebar {
    width: 288px;
    float: right;
    margin-top: 32px;
    margin-right: 32px; }
    aside#sidebar div#links {
      margin: 0 0 32px 0; }
      aside#sidebar div#links h2 {
        margin: 16px 0 8px 0;
        padding: 0; }
      aside#sidebar div#links h2:first-child {
        margin-top: 0; }
      aside#sidebar div#links ul {
        margin: 0 0 16px;
        padding: 0;
        list-style: none; }
      aside#sidebar div#links ul:last-child {
        margin-bottom: 0; }
      aside#sidebar div#links li {
        line-height: 1.6rem; }
      aside#sidebar div#links a:link,
      aside#sidebar div#links a:visited,
      aside#sidebar div#links a:active {
        color: #2455c3;
        text-decoration: none; }
      aside#sidebar div#links a:hover {
        text-decoration: underline; }
    aside#sidebar div#ad {
      width: 300px;
      height: 250px;
      background-color: rgba(0, 255, 0, 0.3); }
    aside#sidebar div#ad + div#ad {
      margin-top: 1024px; } }

header.page-header {
  margin: 0;
  border-bottom: 2px solid #f2f2f2; }
  header.page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem; }
    header.page-header h1 span.subheader {
      display: block;
      font-size: 16px;
      color: #bfbfbf; }

nav.pagination {
  text-align: center;
  margin-bottom: 32px; }
  nav.pagination a:link,
  nav.pagination a:hover,
  nav.pagination a:visited {
    text-decoration: none;
    color: black; }
  nav.pagination a:link:hover span.link {
    background-color: #efefef; }
  nav.pagination a.disabled span.link {
    background: none;
    color: silver; }
  nav.pagination span.link {
    min-width: 24px;
    padding: 4px 8px;
    display: inline-block;
    line-height: 24px; }
  nav.pagination span.active {
    background-color: black;
    color: white; }

div.tags .tag,
p.tags .tag {
  padding: 3px 6px;
  border: 1px solid #d9d9d9;
  border-radius: 3px; }
  div.tags .tag:hover,
  p.tags .tag:hover {
    background-color: #f2f2f2; }
  div.tags .tag:link, div.tags .tag:hover, div.tags .tag:active, div.tags .tag:visited,
  p.tags .tag:link,
  p.tags .tag:hover,
  p.tags .tag:active,
  p.tags .tag:visited {
    color: black;
    text-decoration: none; }

section.comments {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }
  section.comments h2.comment-header {
    margin: 0;
    padding: 0;
    text-align: center; }
    section.comments h2.comment-header + div.comment-respond {
      margin-top: 16px; }
  section.comments div.comment-respond {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding-bottom: 16px;
    margin-bottom: 48px; }
    section.comments div.comment-respond h3.comment-reply-title {
      margin: 16px 0 0 0;
      padding: 0;
      text-align: center; }
    section.comments div.comment-respond form.comment-form p.logged-in-as,
    section.comments div.comment-respond form.comment-form p.comment-notes {
      text-align: center; }
    section.comments div.comment-respond form.comment-form p.comment-form-author,
    section.comments div.comment-respond form.comment-form p.comment-form-email,
    section.comments div.comment-respond form.comment-form p.comment-form-url,
    section.comments div.comment-respond form.comment-form p.comment-form-comment {
      margin: 0 32px 16px;
      padding: 0; }
      section.comments div.comment-respond form.comment-form p.comment-form-author label,
      section.comments div.comment-respond form.comment-form p.comment-form-email label,
      section.comments div.comment-respond form.comment-form p.comment-form-url label,
      section.comments div.comment-respond form.comment-form p.comment-form-comment label {
        margin-bottom: 8px;
        display: block; }
      section.comments div.comment-respond form.comment-form p.comment-form-author textarea,
      section.comments div.comment-respond form.comment-form p.comment-form-email textarea,
      section.comments div.comment-respond form.comment-form p.comment-form-url textarea,
      section.comments div.comment-respond form.comment-form p.comment-form-comment textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 96px;
        min-height: 96px;
        margin: 0;
        padding: 8px;
        display: block;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        background: #F5F5F5;
        box-sizing: border-box;
        font-size: 18px;
        font-family: inherit; }
        section.comments div.comment-respond form.comment-form p.comment-form-author textarea:focus,
        section.comments div.comment-respond form.comment-form p.comment-form-email textarea:focus,
        section.comments div.comment-respond form.comment-form p.comment-form-url textarea:focus,
        section.comments div.comment-respond form.comment-form p.comment-form-comment textarea:focus {
          outline: none;
          background: white;
          border-color: #c6c6c6; }
      section.comments div.comment-respond form.comment-form p.comment-form-author input,
      section.comments div.comment-respond form.comment-form p.comment-form-email input,
      section.comments div.comment-respond form.comment-form p.comment-form-url input,
      section.comments div.comment-respond form.comment-form p.comment-form-comment input {
        width: 100%;
        margin: 0;
        padding: 8px;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        background: #F5F5F5;
        box-sizing: border-box;
        font-size: 18px; }
        section.comments div.comment-respond form.comment-form p.comment-form-author input:focus,
        section.comments div.comment-respond form.comment-form p.comment-form-email input:focus,
        section.comments div.comment-respond form.comment-form p.comment-form-url input:focus,
        section.comments div.comment-respond form.comment-form p.comment-form-comment input:focus {
          outline: none;
          background: white;
          border-color: #c6c6c6; }
    section.comments div.comment-respond form.comment-form p.form-submit {
      margin: 0 31px;
      padding: 0;
      float: right; }
      section.comments div.comment-respond form.comment-form p.form-submit input.submit {
        display: block;
        height: 32px;
        padding: 8px 16px;
        background: white;
        border: 1px solid #dfdfdf;
        border-radius: 3px;
        font-size: 14px;
        line-height: 14px;
        font-family: inherit;
        color: gray;
        text-transform: lowercase;
        cursor: pointer; }
        section.comments div.comment-respond form.comment-form p.form-submit input.submit:hover {
          color: black; }
  section.comments ol.comment-list {
    margin: 32px 0;
    padding: 0;
    list-style: none; }
    section.comments ol.comment-list > li.comment:first-child:before {
      display: none; }
  section.comments li.comment:before {
    content: "";
    width: 1px;
    height: 16px;
    margin-left: 32px;
    display: block;
    background: #dfdfdf; }
  section.comments li.comment:last-child div.reply-toggle-label {
    border-left: none; }
  section.comments li.comment:last-child ol.comment-children {
    border-left: none;
    padding-left: 32px; }
  section.comments li.comment article.comment-body {
    border: 1px solid #dfdfdf;
    border-radius: 3px; }
    section.comments li.comment article.comment-body img.author-avatar {
      margin: 16px 0 0 32px;
      float: left;
      border-radius: 3px; }
      section.comments li.comment article.comment-body img.author-avatar ~ p.comment-meta,
      section.comments li.comment article.comment-body img.author-avatar ~ div.comment-content {
        margin-left: 124px; }
    section.comments li.comment article.comment-body p.comment-meta {
      margin: 16px 0;
      font-size: 16px; }
    section.comments li.comment article.comment-body div.comment-content {
      margin-right: 32px;
      padding-bottom: 16px; }
    section.comments li.comment article.comment-body div.comment-tools {
      display: none; }
  section.comments li.comment input.reply-toggle {
    display: none; }
    section.comments li.comment input.reply-toggle ~ div.reply-toggle-label label:before {
      content: "show "; }
    section.comments li.comment input.reply-toggle:checked ~ div.reply-toggle-label {
      height: 0; }
      section.comments li.comment input.reply-toggle:checked ~ div.reply-toggle-label label:before {
        content: "hide "; }
    section.comments li.comment input.reply-toggle:checked ~ ol.comment-children {
      display: block; }
  section.comments li.comment div.reply-toggle-label {
    height: 16px;
    margin-left: 32px;
    text-align: right;
    border-left: 1px solid #dfdfdf; }
    section.comments li.comment div.reply-toggle-label label {
      height: 14px;
      position: relative;
      top: -16px;
      margin-right: 32px;
      padding: 8px 16px;
      display: inline-block;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      font-size: 14px;
      line-height: 14px;
      color: gray;
      cursor: pointer;
      background: white; }
      section.comments li.comment div.reply-toggle-label label:hover {
        color: black; }
  section.comments li.comment ol.comment-children {
    display: none;
    margin: 0 0 0 32px;
    padding: 0 0 0 31px;
    list-style: none;
    border-left: 1px solid #dfdfdf; }
    section.comments li.comment ol.comment-children li.comment:first-child:before {
      height: 32px; }

iframe.qlik-dashboard {
  width: 100%;
  min-height: 600px;
  border: 1px solid gray; }

input[type="checkbox"].qlik-fullscreen {
  display: none; }
  input[type="checkbox"].qlik-fullscreen + label {
    display: block;
    text-align: right;
    font-style: italic;
    cursor: pointer;
    color: gray; }
    input[type="checkbox"].qlik-fullscreen + label:before {
      content: "Click to expand dashboard to full screen";
      padding: 16px 0; }
    input[type="checkbox"].qlik-fullscreen + label:hover {
      color: black; }

input[type="checkbox"].qlik-fullscreen:checked + label {
  width: 100vw;
  height: 32px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0; }
  input[type="checkbox"].qlik-fullscreen:checked + label:before {
    content: "Click to minimize dashboard";
    padding: 0 16px 0 0; }
  input[type="checkbox"].qlik-fullscreen:checked + label + iframe.qlik-dashboard {
    width: 100vw;
    height: calc(100vh - 32px);
    position: fixed;
    top: 32px;
    left: 0; }

body.admin-bar input[type="checkbox"].qlik-fullscreen:checked + label {
  top: 32px; }
  body.admin-bar input[type="checkbox"].qlik-fullscreen:checked + label + iframe.qlik-dashboard {
    height: calc(100vh - (32px * 2));
    top: 64px; }

@media screen and (min-width: 737px) {
  header#primary nav {
    padding: 16px 0; }
    header#primary nav h1 {
      margin-left: 32px; }
    header#primary nav ul#menu,
    header#primary nav div#menu ul {
      margin-right: 32px; }
    header#primary nav input#show-mobile-menu {
      display: none; }
  main > article {
    padding: 32px; }
  footer#primary nav div.panel {
    margin: 0 32px; }
    footer#primary nav div.panel + div.panel {
      margin-left: 0; }
  article.post {
    padding: 32px;
    padding-left: 0;
    flex-direction: row-reverse; }
    article.post aside {
      min-width: 128px;
      text-align: right;
      flex-grow: 0; }
      article.post aside p {
        line-height: initial;
        font-size: 14px; }
      article.post aside p.tags {
        text-align: right;
        word-wrap: break-word; }
        article.post aside p.tags a.tag {
          margin: 2px 0;
          display: inline-block; }
  div.product {
    margin: 32px; }
  header.page-header {
    padding: 32px 32px; } }

@media screen and (max-width: 736px) {
  header#primary nav {
    padding: 16px 0;
    min-height: 32px;
    height: auto; }
    header#primary nav h1 {
      margin-left: 16px; }
    header#primary nav ul#menu,
    header#primary nav div#menu ul {
      height: auto;
      padding-top: 8px;
      margin-left: 16px;
      display: block;
      float: none;
      clear: both;
      margin-right: 16px;
      display: none;
      text-align: left; }
      header#primary nav ul#menu li,
      header#primary nav div#menu ul li {
        margin-left: 0;
        margin-right: 0;
        display: block; }
    header#primary nav input#show-mobile-menu,
    header#primary nav label[for="show-mobile-mehu"] {
      display: none; }
    header#primary nav label[for="show-mobile-menu"]:after {
      content: "\02630";
      width: 32px;
      height: 32px;
      margin-right: 16px;
      display: block;
      float: right;
      text-align: center;
      line-height: 30px;
      font-size: 22px;
      color: #bfbfbf;
      cursor: pointer; }
    header#primary nav label[for="show-mobile-menu"]:hover:after {
      color: black; }
    header#primary nav input#show-mobile-menu:checked ~ label[for="show-mobile-menu"]:after {
      content: "\000d7";
      line-height: 30px;
      font-size: 32px; }
    header#primary nav input#show-mobile-menu:checked ~ div ul#menu,
    header#primary nav input#show-mobile-menu:checked ~ div div#menu ul {
      display: block; }
  main > article {
    padding: 16px; }
  footer#primary nav {
    padding: 0 16px;
    flex-wrap: wrap; }
  article.post {
    flex-direction: column;
    padding: 16px;
    border-bottom: 2px solid #f2f2f2; }
    article.post article {
      margin-left: 0;
      padding-bottom: 0;
      padding-left: 0;
      border-style: none; }
    article.post aside {
      margin-top: 16px;
      text-align: left;
      flex-grow: 1; }
      article.post aside img {
        float: left; }
      article.post aside p {
        margin-left: 64px;
        margin-top: 0; }
      article.post aside p.tags {
        clear: both;
        margin: 16px 0 0;
        word-wrap: break-word; }
        article.post aside p.tags a.tag {
          margin: 2px 0;
          display: inline-block; }
  div.product {
    margin: 32px 16px; }
  header.page-header {
    padding: 32px 16px; }
  nav.pagination {
    margin: 16px auto; } }

/*# sourceMappingURL=main.css.map */
