body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif; }

@keyframes clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes counter-clockwise {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }
header#primary {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto; }
  header#primary nav {
    height: 32px;
    margin: 0;
    border-bottom: 2px solid #d9d9d9; }
    header#primary nav h1 {
      height: 32px;
      margin: 0;
      float: left;
      line-height: 32px;
      font-size: 1.5rem;
      font-family: "Questrial", "Futura", sans-serif; }
      header#primary nav h1 a:link,
      header#primary nav h1 a:visited {
        color: black;
        text-decoration: none; }
    header#primary nav ul#menu,
    header#primary nav div#menu ul {
      height: 32px;
      margin: 0;
      padding: 0;
      float: right;
      list-style: none; }
      header#primary nav ul#menu li,
      header#primary nav div#menu ul li {
        margin-left: 32px;
        display: inline-block;
        line-height: 32px;
        font-size: 1rem; }
        header#primary nav ul#menu li.current-menu-item a:link, header#primary nav ul#menu li.current-menu-item a:visited,
        header#primary nav div#menu ul li.current-menu-item a:link,
        header#primary nav div#menu ul li.current-menu-item a:visited {
          color: black; }
        header#primary nav ul#menu li a:link,
        header#primary nav ul#menu li a:visited,
        header#primary nav div#menu ul li a:link,
        header#primary nav div#menu ul li a:visited {
          color: #d9d9d9;
          text-decoration: none; }
        header#primary nav ul#menu li a:hover,
        header#primary nav div#menu ul li a:hover {
          color: black; }

@media screen and (min-width: 300px) {
  body.is-front-page header#primary {
    width: 100%;
    max-width: 100%;
    color: white;
    background: black; }
    body.is-front-page header#primary nav {
      width: 100%;
      max-width: 1080px;
      margin: 0 auto;
      border-bottom-color: white; }
      body.is-front-page header#primary nav h1 a:link,
      body.is-front-page header#primary nav h1 a:visited {
        color: white; }
      body.is-front-page header#primary nav ul#menu li a:hover,
      body.is-front-page header#primary nav div#menu ul li a:hover {
        color: white; }
    body.is-front-page header#primary .solar-system {
      margin: 32px auto; } }
  @media screen and (min-width: 300px) and (max-width: 600px) {
    body.is-front-page header#primary .solar-system {
      width: 200px;
      height: 200px;
      position: relative;
      display: none; }
      body.is-front-page header#primary .solar-system#local {
        display: block; }
      body.is-front-page header#primary .solar-system .orbit {
        float: left;
        position: absolute;
        border-radius: 50%;
        box-shadow: inset 0 0 8px #666666; }
        body.is-front-page header#primary .solar-system .orbit#earth {
          width: 0;
          height: 0;
          top: 100px;
          left: 100px; }
        body.is-front-page header#primary .solar-system .orbit#moon {
          width: 150px;
          height: 150px;
          top: -75px;
          left: -75px; }
        body.is-front-page header#primary .solar-system .orbit .body {
          width: 100%;
          height: 0;
          position: absolute;
          background-color: rgba(0, 255, 0, 0.2);
          animation-timing-function: linear;
          animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%; }
          body.is-front-page header#primary .solar-system .orbit .body#earth {
            top: 0;
            animation: none; }
            body.is-front-page header#primary .solar-system .orbit .body#earth:after {
              background: linear-gradient(135deg, #5EFCE8 0%, #736EFE 100%);
              width: 40px;
              height: 40px;
              top: -20px;
              left: -20px; }
          body.is-front-page header#primary .solar-system .orbit .body#moon {
            top: 75px;
            animation-duration: 15s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#moon:after {
              background: linear-gradient(135deg, #ECF0F1 0%, #95A5A6 100%);
              width: 15px;
              height: 15px;
              top: -7.5px;
              left: -7.5px; } }
  @media screen and (min-width: 300px) and (min-width: 601px) {
    body.is-front-page header#primary .solar-system {
      width: 400px;
      height: 400px;
      position: relative;
      display: none; }
      body.is-front-page header#primary .solar-system#whole {
        display: block; }
      body.is-front-page header#primary .solar-system .orbit {
        float: left;
        position: absolute;
        border-radius: 50%;
        box-shadow: inset 0 0 8px #666666; }
        body.is-front-page header#primary .solar-system .orbit#sun {
          width: 0;
          height: 0;
          top: 200px;
          left: 200px; }
        body.is-front-page header#primary .solar-system .orbit#mercury {
          width: 120px;
          height: 120px;
          top: -60px;
          left: -60px; }
        body.is-front-page header#primary .solar-system .orbit#earth {
          width: 300px;
          height: 300px;
          top: -150px;
          left: -150px; }
        body.is-front-page header#primary .solar-system .orbit#venus {
          width: 210px;
          height: 210px;
          top: -105px;
          left: -105px; }
        body.is-front-page header#primary .solar-system .orbit#moon {
          width: 30px;
          height: 30px;
          top: -15px;
          left: -15px; }
        body.is-front-page header#primary .solar-system .orbit .body {
          width: 100%;
          height: 0;
          position: absolute;
          background-color: rgba(0, 255, 0, 0.2);
          animation-timing-function: linear;
          animation-iteration-count: infinite; }
          body.is-front-page header#primary .solar-system .orbit .body::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%; }
          body.is-front-page header#primary .solar-system .orbit .body#sun {
            top: 0;
            animation: none; }
            body.is-front-page header#primary .solar-system .orbit .body#sun:after {
              background: linear-gradient(135deg, #FEC163 0%, #DE4313 100%);
              width: 40px;
              height: 40px;
              top: -20px;
              left: -20px; }
          body.is-front-page header#primary .solar-system .orbit .body#mercury {
            top: 60px;
            animation-duration: 10s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#mercury:after {
              background: linear-gradient(135deg, #ECF0F1 0%, #95A5A6 100%);
              width: 6px;
              height: 6px;
              top: -3px;
              left: -3px; }
          body.is-front-page header#primary .solar-system .orbit .body#earth {
            top: 150px;
            animation-duration: 50s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#earth:after {
              background: linear-gradient(135deg, #5EFCE8 0%, #736EFE 100%);
              width: 10px;
              height: 10px;
              top: -5px;
              left: -5px; }
          body.is-front-page header#primary .solar-system .orbit .body#venus {
            top: 105px;
            animation-duration: 30s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#venus:after {
              background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
              width: 9px;
              height: 9px;
              top: -4.5px;
              left: -4.5px; }
          body.is-front-page header#primary .solar-system .orbit .body#moon {
            top: 15px;
            animation-duration: 5s;
            animation-name: counter-clockwise; }
            body.is-front-page header#primary .solar-system .orbit .body#moon:after {
              background: linear-gradient(135deg, #ECF0F1 0%, #95A5A6 100%);
              width: 3px;
              height: 3px;
              top: -1.5px;
              left: -1.5px; } }

main {
  width: 100%;
  flex: 1;
  max-width: 1080px;
  margin: 0 auto; }
  main > article > p:first-child {
    margin-top: 0; }
  main > article p {
    line-height: 1.6; }

article.copy h1 {
  font-size: 2rem;
  margin: 0 0 16px; }
article.copy h2 {
  font-size: 1.5rem;
  margin: 0 0 16px; }
article.copy p {
  margin: 0 0 16px;
  line-height: 1.6; }
  article.copy p:last-child {
    margin-bottom: 0; }
article.copy img, article.copy > img,
article.copy p img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 32px auto; }
article.copy blockquote {
  margin: 32px 0;
  padding: 0 40px; }
  article.copy blockquote p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.8rem; }
article.copy div.wp-caption {
  max-width: 100%;
  margin: 32px 0; }
  article.copy div.wp-caption img {
    width: 100%;
    height: auto;
    display: block; }
  article.copy div.wp-caption .wp-caption-text {
    margin-top: 8px;
    font-style: italic;
    text-align: center; }
  article.copy div.wp-caption.aligncenter {
    margin-left: auto;
    margin-right: auto; }
  article.copy div.wp-caption.alignright {
    margin-left: auto; }
  article.copy div.wp-caption, article.copy div.wp-caption.alignleft {
    margin-right: auto; }

footer#primary {
  text-align: center; }

article.post {
  display: flex; }
  article.post article {
    margin-left: 32px;
    padding: 0;
    flex-grow: 1; }
  article.post aside img {
    width: 48px;
    height: 48px;
    border-radius: 2px; }
  article.post aside p {
    margin: 8px 0 0 0; }
  article.post aside p.author {
    font-weight: bold; }

section.author {
  margin: 0;
  padding: 32px;
  border-top: 2px solid #f2f2f2; }
  section.author h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem; }
    section.author h1 span.all-posts-by {
      font-size: 16px;
      color: gray;
      display: block; }
    section.author h1 a:link,
    section.author h1 a:visited {
      float: right;
      text-decoration: none; }
    section.author h1 a:hover {
      text-decoration: underline; }

header.page-header {
  margin: 0;
  border-bottom: 2px solid #f2f2f2; }
  header.page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem; }
    header.page-header h1 span.subheader {
      display: block;
      font-size: 16px;
      color: #bfbfbf; }

nav.pagination {
  text-align: center;
  margin-bottom: 32px; }
  nav.pagination a:link,
  nav.pagination a:hover,
  nav.pagination a:visited {
    text-decoration: none;
    color: black; }
  nav.pagination a:link:hover span.link {
    background-color: #efefef; }
  nav.pagination a.disabled span.link {
    background: none;
    color: silver; }
  nav.pagination span.link {
    min-width: 24px;
    padding: 4px 8px;
    display: inline-block;
    line-height: 24px; }
  nav.pagination span.active {
    background-color: black;
    color: white; }

div.tags .tag,
p.tags .tag {
  padding: 3px 6px;
  border: 1px solid #d9d9d9;
  border-radius: 3px; }
  div.tags .tag:hover,
  p.tags .tag:hover {
    background-color: #f2f2f2; }
  div.tags .tag:link, div.tags .tag:hover, div.tags .tag:active, div.tags .tag:visited,
  p.tags .tag:link,
  p.tags .tag:hover,
  p.tags .tag:active,
  p.tags .tag:visited {
    color: black;
    text-decoration: none; }

@media screen and (min-width: 737px) {
  header#primary nav {
    padding: 16px 0; }
    header#primary nav h1 {
      margin-left: 32px; }
    header#primary nav ul#menu,
    header#primary nav div#menu ul {
      margin-right: 32px; }

  main > article {
    padding: 32px; }

  article.post {
    padding: 32px;
    padding-left: 0;
    flex-direction: row-reverse; }
    article.post aside {
      min-width: 128px;
      text-align: right;
      flex-grow: 0; }
      article.post aside p.tags {
        text-align: right;
        word-wrap: break-word; }
        article.post aside p.tags a.tag {
          margin: 2px 0;
          display: inline-block; }

  header.page-header {
    padding: 32px 32px; } }
@media screen and (max-width: 736px) {
  header#primary nav {
    padding: 16px 0; }
    header#primary nav h1 {
      margin-left: 16px; }
    header#primary nav ul#menu,
    header#primary nav div#menu ul {
      margin-right: 16px; }

  main > article {
    padding: 16px; }

  article.post {
    flex-direction: column;
    padding: 16px;
    border-bottom: 2px solid #f2f2f2; }
    article.post article {
      margin-left: 0;
      padding-bottom: 0;
      padding-left: 0;
      border-style: none; }
    article.post aside {
      margin-top: 16px;
      text-align: left;
      flex-grow: 1; }
      article.post aside img {
        float: left; }
      article.post aside p {
        margin-left: 64px;
        margin-top: 0; }
      article.post aside p.tags {
        clear: both;
        margin: 16px 0 0;
        word-wrap: break-word; }
        article.post aside p.tags a.tag {
          margin: 2px 0;
          display: inline-block; }

  header.page-header {
    padding: 32px 16px; }

  nav.pagination {
    margin: 16px auto; } }

/*# sourceMappingURL=main.css.map */
