body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif; }

header#primary {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto; }
  header#primary nav {
    height: 32px;
    margin: 0;
    border-bottom: 2px solid #d9d9d9; }
    header#primary nav h1 {
      height: 32px;
      margin: 0;
      float: left;
      font-size: 1.5rem;
      font-family: "Questrial", "Futura", sans-serif; }
      header#primary nav h1 a:link,
      header#primary nav h1 a:visited {
        color: black;
        text-decoration: none; }
    header#primary nav ul#menu {
      height: 32px;
      margin: 0;
      padding: 0;
      float: right;
      list-style: none; }
      header#primary nav ul#menu li {
        margin-left: 32px;
        display: inline-block;
        line-height: 32px;
        font-size: 1rem; }
        header#primary nav ul#menu li.current-menu-item a:link, header#primary nav ul#menu li.current-menu-item a:visited {
          color: black; }
        header#primary nav ul#menu li a:link,
        header#primary nav ul#menu li a:visited {
          color: #d9d9d9;
          text-decoration: none; }
        header#primary nav ul#menu li a:hover {
          color: black; }

main {
  width: 100%;
  flex: 1;
  max-width: 1080px;
  margin: 0 auto; }
  main > article > p:first-child {
    margin-top: 0; }
  main h1, main h2, main h3, main h4, main h5, main h6 {
    font-family: "Questrial", "Futura", sans-serif; }

footer#primary {
  text-align: center; }

article.post {
  display: flex; }
  article.post article {
    margin-left: 32px;
    padding: 0;
    flex-grow: 1; }
    article.post article h1 {
      font-size: 2rem;
      margin: 0 0 16px; }
    article.post article h2 {
      font-size: 1.5rem;
      margin: 0 0 16px; }
    article.post article p {
      margin: 0 0 16px; }
      article.post article p:last-child {
        margin-bottom: 0; }
    article.post article figure {
      margin: 0;
      text-align: center; }
      article.post article figure img {
        max-width: 100%; }
    article.post article blockquote {
      margin: 32px 0;
      padding: 0 40px; }
      article.post article blockquote p {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.8rem; }
  article.post aside img {
    width: 48px;
    height: 48px;
    border-radius: 2px; }
  article.post aside p {
    margin: 8px 0 0 0; }
  article.post aside p.author {
    font-weight: bold; }

section.author {
  margin: 0;
  padding: 32px;
  border-top: 2px solid #f2f2f2; }
  section.author h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem; }
    section.author h1 span.all-posts-by {
      font-size: 16px;
      color: gray;
      display: block; }
    section.author h1 a:link,
    section.author h1 a:visited {
      float: right;
      text-decoration: none; }
    section.author h1 a:hover {
      text-decoration: underline; }

header.page-header {
  margin: 0;
  border-bottom: 2px solid #f2f2f2; }
  header.page-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem; }
    header.page-header h1 span.subheader {
      display: block;
      font-size: 16px;
      color: #bfbfbf; }

nav.pagination {
  text-align: center;
  margin-bottom: 32px; }
  nav.pagination a:link,
  nav.pagination a:hover,
  nav.pagination a:visited {
    text-decoration: none;
    color: black; }
  nav.pagination a:link:hover span.link {
    background-color: #efefef; }
  nav.pagination a.disabled span.link {
    background: none;
    color: silver; }
  nav.pagination span.link {
    min-width: 24px;
    padding: 4px 8px;
    display: inline-block;
    line-height: 24px; }
  nav.pagination span.active {
    background-color: black;
    color: white; }

div.tags .tag,
p.tags .tag {
  padding: 3px 6px;
  border: 1px solid #d9d9d9;
  border-radius: 3px; }
  div.tags .tag:hover,
  p.tags .tag:hover {
    background-color: #f2f2f2; }
  div.tags .tag:link, div.tags .tag:hover, div.tags .tag:active, div.tags .tag:visited,
  p.tags .tag:link,
  p.tags .tag:hover,
  p.tags .tag:active,
  p.tags .tag:visited {
    color: black;
    text-decoration: none; }

@media screen and (min-width: 737px) {
  header#primary nav {
    padding: 16px 32px; }

  main > article {
    padding: 32px; }

  article.post {
    padding: 32px;
    padding-left: 0;
    flex-direction: row-reverse; }
    article.post aside {
      min-width: 128px;
      text-align: right;
      flex-grow: 0; }
      article.post aside p.tags {
        text-align: right;
        word-wrap: break-word; }
        article.post aside p.tags a.tag {
          margin: 2px 0;
          display: inline-block; }

  header.page-header {
    padding: 32px 32px; } }
@media screen and (max-width: 736px) {
  header#primary nav {
    padding: 16px 16px; }

  main > article {
    padding: 16px; }

  article.post {
    flex-direction: column;
    padding: 16px;
    border-bottom: 2px solid #f2f2f2; }
    article.post article {
      margin-left: 0;
      padding-bottom: 0;
      padding-left: 0;
      border-style: none; }
    article.post aside {
      margin-top: 16px;
      text-align: left;
      flex-grow: 1; }
      article.post aside img {
        float: left; }
      article.post aside p {
        margin-left: 64px;
        margin-top: 0; }
      article.post aside p.tags {
        clear: both;
        margin: 16px 0 0;
        word-wrap: break-word; }
        article.post aside p.tags a.tag {
          margin: 2px 0;
          display: inline-block; }

  header.page-header {
    padding: 32px 16px; }

  nav.pagination {
    margin: 16px auto; } }

/*# sourceMappingURL=main.css.map */
