@import '../vars/fonts';

article.copy {
  h1 {
    font-size: $font-size-header;
    margin: 0 0 16px;
  }

  h2 {
    font-size: $font-size-subheader;
    margin: 0 0 16px;
  }

  p {
    margin: 0 0 16px;
    line-height: $line-height-default;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img,
  & > img,
  p img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 32px auto;

    &.aligncenter {
      margin-left: auto;
      margin-right: auto;
    }

    &.alignright {
      margin-right: 0;
      margin-left: auto;
    }

    &,
    &.alignleft {
      margin-right: auto;
      margin-left: 0;
    }
  }

  blockquote {
    margin: 32px 0;
    padding: 0 40px;

    p {
      margin: 0;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }

  div.wp-caption {
    max-width: 100%;
    margin: 32px 0;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .wp-caption-text {
      margin-top: 8px;
      font-style: italic;
      text-align: center;
    }

    &.aligncenter {
      margin-left: auto;
      margin-right: auto;
    }

    &.alignright {
      margin-right: 0;
      margin-left: auto;
    }

    &,
    &.alignleft {
      margin-right: auto;
      margin-left: 0;
    }
  }
}
