@import '../vars/colors';
@import '../vars/fonts';
@import '../vars/layouts';
@import '../templates/parts/solar-system';

header#primary {
  width: 100%;
  max-width: $layout-page-max-width;
  margin: 0 auto;

  nav {
    min-height: 32px;
    margin: 0;
    border-bottom: 2px solid $color-strong-line;
    text-align: right;

    h1 {
      height: 32px;
      margin: 0;
      float: left;
      line-height: 32px;
      font-size: 1.5rem;
      font-family: $font-face-branded;

      a:link,
      a:visited {
        color: black;
        text-decoration: none;
      }
    }

    ul#menu,
    div#menu ul {
      height: 32px;
      margin: 0;
      padding: 0;
      display: inline-block;
      list-style: none;

      li {
        margin-left: 32px;
        display: inline-block;
        line-height: 32px;
        font-size: 1rem;

        &.current-menu-item a:link,
        &.current-menu-item a:visited {
          color: black;
        }

        a:link,
        a:visited {
          color: $color-gray;
          text-decoration: none;
        }

        a:hover {
          color: black;
        }
      }
    }
  }
}

@media screen and (min-width: 300px) {
  body.is-front-page header#primary {
    width: 100%;
    max-width: 100%;
    color: white;
    background: black;

    nav {
      width: 100%;
      max-width: $layout-page-max-width;
      margin: 0 auto;
      border-bottom-color: white;

      h1 a:link,
      h1 a:visited {
        color: white;
      }

      ul#menu,
      div#menu ul {
        li.current-menu-item a:link,
        li.current-menu-item a:visited {
          color: white;
        }

        li a:hover {
          color: white;
        }
      }
    }

    label[for="show-mobile-menu"]:hover:after {
      color: white;
    }
  }
}
