@import '../vars/colors';
@import '../vars/fonts';

header#primary {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;

  nav {
    height: 32px;
    margin: 0;
    padding: 16px 32px;
    border-bottom: 2px solid $color-strong-line;

    h1 {
      height: 32px;
      margin: 0;
      float: left;
      font-size: $font-size-subheader;

      a:link,
      a:visited {
        color: black;
        text-decoration: none;
      }
    }

    ul#menu {
      height: 32px;
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;

      li {
        margin-left: 32px;
        display: inline-block;
        line-height: 32px;
        font-size: 1rem;

        &.current-menu-item a:link,
        &.current-menu-item a:visited {
          color: black;
        }

        a:link,
        a:visited {
          color: $color-light-gray;
          text-decoration: none;
        }

        a:hover {
          color: black;
        }
      }
    }
  }
}

body.is-front-page header#primary {
  height: 800px;
  background-image: url('../../assets/earth.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center 128px;
}
