@import '../vars/colors';
@import '../vars/fonts';
@import '../vars/layouts';

header#primary {
  width: 100%;
  max-width: $layout-page-max-width;
  margin: 0 auto;

  nav {
    height: 32px;
    margin: 0;
    border-bottom: 2px solid $color-strong-line;

    h1 {
      height: 32px;
      margin: 0;
      float: left;
      line-height: 32px;
      font-size: 1.5rem;
      font-family: $font-face-branded;

      a:link,
      a:visited {
        color: black;
        text-decoration: none;
      }
    }

    ul#menu {
      height: 32px;
      margin: 0;
      padding: 0;
      float: right;
      list-style: none;

      li {
        margin-left: 32px;
        display: inline-block;
        line-height: 32px;
        font-size: 1rem;

        &.current-menu-item a:link,
        &.current-menu-item a:visited {
          color: black;
        }

        a:link,
        a:visited {
          color: $color-light-gray;
          text-decoration: none;
        }

        a:hover {
          color: black;
        }
      }
    }
  }
}
