@import '../vars/fonts';
@import '../vars/layouts';

main {
  width: 100%;
  flex: 1;
  max-width: $layout-page-max-width;
  margin: 0 auto;

  & > article > p:first-child {
    margin-top: 0;
  }

  & > article p {
    line-height: $line-height-copy;
  }
}
