@import '../vars/fonts';

article.post {
  display: flex;

  article {
    margin-left: 32px;
    padding: 0;
    flex-grow: 1;

    h1 {
      font-size: $font-size-header;
      margin: 0 0 16px;
    }

    h2 {
      font-size: $font-size-subheader;
      margin: 0 0 16px;
    }

    p {
      margin: 0 0 16px;
      line-height: $line-height-default;

      &:last-child {
        margin-bottom: 0;
      }
    }

    figure {
      margin: 0;
      text-align: center;

      img {
        max-width: 100%;
      }
    }

    blockquote {
      margin: 32px 0;
      padding: 0 40px;

      p {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }

    div.wp-caption {
      max-width: 100%;
      margin: 32px 0;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      .wp-caption-text {
        margin-top: 8px;
        font-style: italic;
        text-align: center;
      }

      &.aligncenter {
        margin-left: auto;
        margin-right: auto;
      }

      &.alignright {
        margin-left: auto;
      }

      &.alignleft {
        margin-right: auto;
      }
    }
  }

  aside {
    img {
      width: 48px;
      height: 48px;
      border-radius: 2px;
    }

    p {
      margin: 8px 0 0 0;
    }

    p.author {
      font-weight: bold;
    }
  }
}
