@import '../vars/colors';
@import '../vars/fonts';

header.page-header {
  margin: 0;
  padding: 32px;
  border-bottom: 2px solid $color-weak-line;

  h1 {
    margin: 0;
    padding: 0;

    span.subheader {
      display: block;
      font-size: $font-size-default;
      color: $color-gray;
    }

    font-size: $font-size-header;
  }
}
