@import '../vars/colors';

#banner-image {
  width: 100%;
  height: 220px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 1080px) {
  #banner-image {
    background-size: cover;
  }

  section#posts {
    width: 760px;
    display: inline-block;
  }

  aside#sidebar {
    width: 300px;
    float: right;
    margin-top: 32px;

    div#links {
      margin: 0 0 32px 0;
      padding: 16px;
      background-color: $color-dim-white;

      h2 {
        margin: 16px 0 8px 0;
        padding: 0;
      }

      h2:first-child {
        margin-top: 0;
      }

      ul {
        margin: 0 0 16px;
        padding: 0;
        list-style: none;
      }

      ul:last-child {
        margin-bottom: 0;
      }

      li {
        line-height: 1.6rem;
      }

      a:link,
      a:visited,
      a:active {
        color: $color-light-black;
        text-decoration: none;
      }

      a:hover {
        color: black;
      }
    }

    div#ad {
      width: 300px;
      height: 250px;
      background-color: rgba(0, 255, 0, 0.3);
    }

    div#ad + div#ad {
      margin-top: 1024px;
    }
  }
}
