@import '../../../vars/colors';
@import '../../../vars/layouts';

article.post {
  flex-direction: column;
  padding: $layout-page-margin-narrow;
  border-bottom: 2px solid $color-weak-line;

  article {
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-style: none;
  }

  aside {
    margin-top: $layout-page-margin-narrow;
    text-align: left;
    flex-grow: 1;

    img {
      float: left;
    }

    p {
      margin-left: 48px + 16px;
      margin-top: 0;
    }

    p.tags {
      clear: both;
      margin: 16px 0 0;
      word-wrap: break-word;

      a.tag {
        margin: 2px 0;
        display: inline-block;
      }
    }
  }
}
