$color-gray        : darken(white, 25%);
$color-light-gray  : darken(white, 15%);
$color-dim-white   : darken(white, 5%);

$color-strong-line : $color-light-gray;
$color-weak-line   : $color-dim-white;
