$font-size-default   : 16px;
$font-size-copy      : 18px;
$font-size-header    : 2rem;
$font-size-subheader : 1.5rem;

$font-face-branded   : 'Questrial', 'Futura', sans-serif;
$font-face-default   : 'Lato', sans-serif;
$font-face-copy      : georgia, serif;

$line-height-copy : 30px;
