@import '../../../vars/layouts';

header#primary {
  nav {
    padding: 16px 0;

    h1 {
      margin-left: $layout-page-margin-narrow
    }

    ul#menu,
    div#menu ul {
      margin-right: $layout-page-margin-narrow;
    }
  }
}
