@import '../../../vars/colors';
@import '../../../vars/layouts';

header#primary {
  nav {
    padding: 16px 0;
    min-height: 32px;
    height: auto;

    h1 {
      margin-left: $layout-page-margin-narrow
    }

    ul#menu,
    div#menu ul {
      height: auto;
      padding-top: 8px;
      margin-left: 16px;
      display: block;
      float: none;
      clear: both;
      margin-right: $layout-page-margin-narrow;
      display: none;

      li {
        margin-left: 0;
        margin-right: 0;
        display: block;
      }
    }

    input#show-mobile-menu,
    label[for="show-mobile-mehu"] {
      display: none;
    }

    label[for="show-mobile-menu"]:after {
      content: "\02630";
      width: 32px;
      height: 32px;
      margin-right: 16px;
      display: block;
      float: right;
      text-align: center;
      line-height: 30px;
      font-size: 22px;
      color: $color-gray;
      cursor: pointer;
    }

    label[for="show-mobile-menu"]:hover:after {
      color: black;
    }

    input#show-mobile-menu:checked {
      & ~ label[for="show-mobile-menu"]:after {
        content: "\000d7";
        line-height: 30px;
        font-size: 32px;
      }

      & ~ div ul#menu,
      & ~ div div#menu ul {
        display: block;
      }
    }
  }
}
