@import '../../vars/colors';

div.tags,
p.tags {
  .tag {
    padding: 3px 6px;
    border: 1px solid $color-strong-line;
    border-radius: 3px;

    &:hover {
      background-color: $color-dim-white;
    }

    &:link,
    &:hover,
    &:active,
    &:visited {
      color: black;
      text-decoration: none;
    }
  }
}
