article.post {
  padding: 32px 32px 32px 0;
  flex-direction: row-reverse;

  aside {
    min-width: 128px;
    text-align: right;
    flex-grow: 0;

    p.tags {
      text-align: right;
      word-wrap: break-word;

      a.tag {
        margin: 2px 0;
        display: inline-block;
      }
    }
  }
}
