// Theme font families
$font-serif: "Merriweather", serif;
$font-sans-serif: "Roboto", sans-serif;

// Common theme font sizes
$font-size-small: 0.9rem;
$font-size-normal: 1rem;
$font-size-larger: 1.2rem;
$font-size-largest: 2rem;

// Common theme line heights
$line-height-small: 1.3rem;
$line-height-normal: 1.5;
