@import 'vars/colors';
@import 'vars/fonts';

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
  font-size: $font-size-default;
  font-family: $font-face-default;
  background-color: white;
  color: $color-copy;
}

@import 'sections/index';
@import 'templates/index';
@import 'templates/parts/index';

@import 'breakpoints/min-737/breakpoint';
@import 'breakpoints/max-736/breakpoint';
